@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

@use 'base/reset';
@use 'base/typography';

@use 'layout/header';
@use 'layout/footer';

@use 'components/buttons';

@use 'pages/home';
@use 'pages/services';
@use 'pages/contact';
