@use '../abstracts/variables';
@use '../abstracts/mixins';

.services {
  padding: variables.$spacing;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .card {
    background: variables.$secondary-color;
    padding: 1rem;
    @include mixins.flex-center;
  }
}
