@use "sass:color";
@use "../abstracts/variables";

.button {
  padding: variables.$spacing;
  background: variables.$primary-color;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background: color.adjust(variables.$primary-color, $lightness: -10%);
  }
}
