@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@mixin border-blue-solid($width: 2px) {
  border: $width solid blue;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 10px;
  gap: 10px;
}